@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  height: 100vh;
}

#title {
  height: 10%;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

#container {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.startImg {
  height: 50vh;
  transition: 0.2s ease-out;
}

.startImg:hover {
  height: 60vh;
}
.border {
  padding: 20px;
  transition: 0.2s ease-out;
}

.border:hover {
  border: 10px solid;
  border-radius: 25px;
}

.cell {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.cell:hover{
  border: 3px solid;
}

.grid {
  border: 5px solid;
  border-radius: 27px;
  height: 60vh;
  width: 60vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[data-location="00"] {
  border-top-left-radius: 22px;
}

div[data-location="09"] {
  border-top-right-radius: 22px;
}

div[data-location="90"] {
  border-bottom-left-radius: 22px;
}

div[data-location="99"] {
  border-bottom-right-radius: 22px;
}

.ships {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: space-between;
}
.ship {
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  transition: 0.2s;
  border-radius: 10px;
}
.ship:hover {
  background-color: #00abbe;
}

.highlight {
  background-color: #00abbe4d;
}

#confirm {
  margin-top: 20px;
  display: flex;
  gap: 50px;
}

.invisible{
  opacity: 0;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  background: none;
  width: 6rem;
}

.green,
.blue,
.red {
  transition: 0.2s;
}
.green:hover {
  background-color: #60ca7f;
}

.blue:hover {
  background-color: #00abbe4d;
}

.red:hover {
  background-color: #e74848;
}

.placed{
  background-color: #00abbe;
}

.playerName{
  margin-bottom: 20px;
}

.playerNameBottom{
  margin-top: 20px;
  text-align: center;
}

.miss{

}

.hit{
  color: #ff0000;
}

.winner{
  margin-top: 30px;
  font-size: larger;
  text-align: center;
}
